{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container form">
        <h1>Mettez à jour vos informations !</h1>
        {{ form_start(form) }}
        <div class="error">{{ form_errors(form) }}</div>
        <div class="email">{{ form_row(form.email) }}</div>
        <div class="firstname">{{ form_row(form.FirstName) }}</div>
        <div class="lastname">{{ form_row(form.LastName) }}</div>
        <button id="send" type="submit">Save</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
